@font-face { font-family: 'red-hat-bold'; 
    src: url('./fonts/RedHatDisplay-Black.ttf'); } 
  
@font-face { font-family: 'red-hat-regular'; 
    src: url('./fonts/RedHatDisplay-Medium.ttf'); } 

$orangecolor: hsl(31, 77%, 52%);
$cyancolor: hsl(184, 100%, 22%);
$darkcyancolor: hsl(179, 100%, 13%);
$transparentwhite: hsla(0, 0%, 100%, 0.75);
$lightgrey: hsl(0, 0%, 95%);
$containerradius: 10px;

.root-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-container {
        width: 920px;
        height: 500px;
        background-color: black;
        display: flex;
        flex-direction: row;
        border-radius: $containerradius;

        .content-container {
            width: 100%;
            height: 100%;
            white-space: pre-line;
        }

        .container-1 {
            background-color: $orangecolor;
            border-top-left-radius: $containerradius;
            border-bottom-left-radius: $containerradius;
        }

        #button-1 {
            color: $orangecolor;
        }

        .container-2 {
            background-color: $cyancolor;
        }

        #button-2 {
            color: $cyancolor;
        }

        .container-3 {
            background-color: $darkcyancolor;
            border-top-right-radius: $containerradius;
            border-bottom-right-radius: $containerradius;
        }

        #button-3 {
            color: $darkcyancolor;
        }
    }
}

h1, img, p, .learn-more-button {
    margin-left: 44px;
}

img {
    margin-top: 48px;
}

h1 {
    
}

p {
    color: $transparentwhite;
    
}

.learn-more-button {
    
}